body {
 background-color: #2ec180;
}

header h1 {
  font-family: 'Belgrano', serif;
  text-align: center;
}
article p {
  font-family: 'Belgrano', serif;
  font-size: 1em;
  margin: 0 auto 0 auto;
}

#intro_wrapper {
  background-color: #333;

}